# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Environment variables (VERY IMPORTANT)
.env

# Uploads (user images)
uploads/

# Database files
*.db

# Logs & test files
*.log
*.txt

# OS files
.DS_Store
Thumbs.db